# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
import os
import pandas as pd
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [2]:
df = pd.read_csv('C:\\Users\\james\\Desktop\\SpringboardWork\\data\\step3_output.csv')
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,differences,clusters
0,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.000000,150.000000,36.0,69.0,30.000000,34.00000,152.0,30.0,0.0,1
1,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,80.000000,115.000000,49.0,250.0,74.000000,78.00000,104.0,80.0,0.0,0
2,Yosemite Ski & Snowboard Area,California,7800,600,0,0.0,0,0,0,1,...,174.873239,110.000000,84.0,300.0,47.000000,47.00000,107.0,0.0,0.0,0
3,Donner Ski Ranch,California,8012,750,0,0.0,0,0,0,1,...,60.000000,163.000000,82.0,400.0,75.000000,75.00000,170.0,0.0,0.0,0
4,June Mountain,California,10090,2590,0,0.0,0,2,0,0,...,174.873239,115.103943,58.0,250.0,57.916957,64.16681,128.0,0.0,0.0,0

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [3]:
statedum = pd.get_dummies(df['state'])

In [4]:
statedum

,Alaska,Arizona,California,Colorado,Connecticut,Idaho,Illinois,Indiana,Iowa,Maine,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
163,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df = pd.concat([df, statedum], axis=1)

In [6]:
df = df.drop('state', axis=1)

In [7]:
df.head()

,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Hilltop Ski Area,2090,294,0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Sunrise Park Resort,11100,1800,0,0.0,0,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Yosemite Ski & Snowboard Area,7800,600,0,0.0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,0,0
3,Donner Ski Ranch,8012,750,0,0.0,0,0,0,1,5,...,0,0,0,0,0,0,0,0,0,0
4,June Mountain,10090,2590,0,0.0,0,2,0,0,4,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [8]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [9]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [10]:
#call first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [11]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [12]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [13]:
df1.iloc[19]

Actual       6.416681e+01
Predicted   -7.411546e+12
Name: 19, dtype: float64

In [14]:
df1['difference'] = np.subtract(df1['Actual'],df1['Predicted'])

In [15]:
df1['absolute_diff'] = np.absolute(df1['difference'])

In [16]:
df1.absolute_diff.max()

7411548771190.617

In [17]:
mean_absolute_error(y_test, y_pred)

352930831562.6709

In [18]:
explained_variance_score(y_test, y_pred)

-1.5866453779036926e+22

In [19]:
### James: None of these results make sense to me.  How is the explained variance score a negative number?  Why is one of the predicted values so high?

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [20]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by='Coefficient', ascending= False)

                    Coefficient
fastEight          4.774604e+13
trams              3.265521e+13
fastSixes          1.732940e+13
total_chairs       5.403084e+12
surface            3.155859e+12
double             2.991546e+12
triple             2.555702e+12
New York           2.353424e+12
Michigan           2.181428e+12
New Hampshire      1.838447e+12
Pennsylvania       1.758500e+12
Wisconsin          1.758500e+12
Minnesota          1.582836e+12
California         1.582836e+12
quad               1.543765e+12
Vermont            1.485257e+12
Idaho              1.379371e+12
New Mexico         1.379371e+12
Maine              1.263092e+12
Connecticut        1.263092e+12
Colorado           1.263092e+12
Wyoming            1.263092e+12
fastQuads          1.227645e+12
Massachusetts      1.133225e+12
Washington         1.133225e+12
Ohio               1.133225e+12
North Carolina     9.844078e+11
West Virginia      9.844078e+11
Illinois           9.844078e+11
Oregon             9.844078e+11
Montana            9.844078e+11
Utah               9.844078e+11
Virginia           8.062124e+11
Iowa               8.062124e+11
Missouri           8.062124e+11
Indiana            8.062124e+11
Tennessee          5.718032e+11
Maryland           5.718032e+11
Alaska             5.718032e+11
Nevada             5.718032e+11
South Dakota       5.718032e+11
Arizona            5.718032e+11
differences        2.229320e+10
New Jersey         2.018934e+05
AdultWeekday       1.015137e+01
Rhode Island       5.417572e+00
summit_elev        4.146564e+00
Runs               1.972229e+00
NightSkiing_ac     1.214844e+00
clusters           1.205078e+00
LongestRun_mi      8.818359e-01
projectedDaysOpen  7.456055e-01
Snow Making_ac     6.694336e-01
averageSnowfall    6.376953e-01
SkiableTerrain_ac  4.648438e-01
TerrainParks       4.443359e-01
daysOpenLastYear   4.257812e-01
yearsOpen          3.593750e-01
vertical_drop      3.407303e-02

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [21]:
lm.intercept_

-88761047401.15361

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [22]:
df2 = df.drop(df.iloc[:, 26:], axis = 1)

In [23]:
X2 = df2.drop(['Name','AdultWeekend','differences'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y2 = df2.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler2 = preprocessing.StandardScaler().fit(X2)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled2=scaler2.transform(X2)

In [24]:
# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X2_train, X2_test, y2_train, y2_test = train_test_split(X_scaled2, y2, test_size=0.25, random_state=1)

In [25]:
lm2 = linear_model.LinearRegression()
model2 = lm.fit(X2_train,y2_train)

In [26]:
y_pred2 = model2.predict(X2_test)

In [27]:
dfap = pd.DataFrame({'Actual': y2_test, 'Predicted': y_pred2})

In [28]:
mean_absolute_error(y2_test, y_pred2)

6.450958860099005

In [29]:
explained_variance_score(y2_test, y_pred2)

0.5922140280577681

In [30]:
pd.DataFrame(abs(lm.coef_), X2.columns, columns=['Coefficient']).sort_values(by='Coefficient', ascending= False)

                    Coefficient
AdultWeekday       1.094967e+01
clusters           3.406477e+00
daysOpenLastYear   1.814029e+00
triple             1.411836e+00
averageSnowfall    1.319763e+00
surface            1.315252e+00
Runs               1.110194e+00
projectedDaysOpen  1.082615e+00
vertical_drop      1.004762e+00
quad               7.703545e-01
double             7.220809e-01
total_chairs       6.247145e-01
NightSkiing_ac     5.421593e-01
Snow Making_ac     4.713180e-01
fastQuads          4.630958e-01
yearsOpen          4.196122e-01
summit_elev        3.719630e-01
TerrainParks       3.139742e-01
SkiableTerrain_ac  1.035979e-01
LongestRun_mi      5.771530e-02
trams              1.776357e-15
fastSixes          9.992007e-16
fastEight          0.000000e+00

# **<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [31]:
df3 = df2.drop(['Name','summit_elev','vertical_drop','differences'], axis=1)

In [32]:

X3 = df3.drop(['AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y3 = df3.AdultWeekend

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler3 = preprocessing.StandardScaler().fit(X3)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled3=scaler3.transform(X3)

In [33]:
X3_train, X3_test, y3_train, y3_test = train_test_split(X_scaled3, y3, test_size=0.25, random_state=1)

In [34]:
lm3 = linear_model.LinearRegression()
model3 = lm3.fit(X3_train,y3_train)

In [35]:
y_pred3 = model3.predict(X3_test)

In [36]:
dfap2 = pd.DataFrame({'Actual': y3_test, 'Predicted': y_pred3})

In [37]:
dfap2.head()

     Actual  Predicted
44     35.0  42.265214
47     49.0  58.285138
143    68.0  47.636080
66     59.0  64.589786
147    59.0  64.692736

In [38]:
mean_absolute_error(y3_test, y_pred3)

6.43638179561544

In [39]:
explained_variance_score(y3_test, y_pred3)

0.5829323050651407

In [40]:
pd.DataFrame(abs(lm3.coef_), X3.columns, columns=['Coefficient']).sort_values(by='Coefficient', ascending= False)

                    Coefficient
AdultWeekday       1.115256e+01
clusters           3.476086e+00
daysOpenLastYear   1.916015e+00
Runs               1.466534e+00
triple             1.448187e+00
surface            1.435043e+00
projectedDaysOpen  1.171157e+00
averageSnowfall    1.091563e+00
quad               7.313712e-01
double             6.764533e-01
SkiableTerrain_ac  6.646057e-01
fastQuads          6.539601e-01
Snow Making_ac     6.194477e-01
total_chairs       5.789064e-01
NightSkiing_ac     5.077406e-01
yearsOpen          4.788704e-01
TerrainParks       2.669939e-01
LongestRun_mi      1.394846e-01
fastEight          2.442491e-15
fastSixes          1.776357e-15
trams              0.000000e+00

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [ ]:
# I choose model 3, but I think between the problems cited in the Springboard chat about this project, and perhaps a mistake on my part, I do not think this model is ready to be presented.